{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <title>RSVP Demo</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- D3 js-->
  <link rel="stylesheet" href="{% static 'graph.css' %}">
  <script src="https://d3js.org/d3.v3.min.js"></script>

  <!-- Underscore -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- preloader -->
  <link rel="stylesheet" href="{% static 'jpreloader.css' %}">
  <link rel="stylesheet" href="{% static 'demo.css' %}">
  <script src="{% static 'jpreloader.js' %}"></script>
</head>
<body id='body' style="">
  <input type='hidden' id='data' value='{{ data }}'/>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="task">
          <h2>Embracing Error to Enable Rapid Crowdsourcing</h2>
          <h4>Based on research published in <a href="https://arxiv.org/pdf/1602.04506v1.pdf">this paper.</a></h4>
          <h4>To view the aggregated results of everyone's work, <a href="/results">click here</a></h4>
          <h4>Code for this project is available in <a href="https://github.com/stanfordhci/rsvp">this repository</a></h4>

          <div class="text">Our goal will be to separate a set of dog images from the images on the right. When you click play, a random set of images will be flashed in front of you. Press the spacebar whenever you see a dog. Mobile users can click anywhere on the screen when the slideshow starts.</div>
          <div class="slide-show-area" id="preview">
            <div class="slide-show" id="slideShow">
              <div class="slideImages" id="slideImagesID"></div>
            </div>
            <div class="slideShow-controller" id="slideControllerID">
              <a href="#" id="togglePlay">Start</a>
            </div>
          </div>
          <div id="film_strip" class="container row" style="height:150px; width: 100%; margin:auto; padding: 3px; border:solid 5px white">
            <div class="" id="captured_images" style='height:100%'></div>
          </div>
        </div>
        <div id="stats" class="row" style="padding-top: 10px; border-top: thick double #eee;">
          <div class="text">Current Precision @ <span class="totalPositives"></span>: <span style="color:red;" class="current-precision"></span>, Recall @ <span class="totalPositives"></span>: <span style="color:red;" class="current-recall"></span></div>
          <div class="text">Don't worry about reacting late, our model accounts for worker delays and will attempt to pick out the correct dog images. Every time you do the task, the model will move the most likely dog images to the top. The model will also print precision and recall curves at the bottom so you can track your progress.</div>
          <div id="precision" class="col-md-12">
          </div>
          <div id="recall" class="col-md-12">
          </div>
          <div class="text">Every time you do the task, the scores for the images are updated and a new precision and recall curve is drawn. So far, you have done <span class="redundancy-count"></span> tasks.</div>
        </div>
      </div>
      <div style="padding-top: 10px; border-left: thick double #eee;" class="col-md-4" id="images">
      </div>
    </div>
  </div>
  <script src="{% static 'vars.js' %}"></script>
  <script src="{% static 'utils.js' %}"></script>
  <script src="{% static 'graph.js' %}"></script>
  <script src="{% static 'demo.js' %}"></script>
</body>
</html>
